<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>online-store</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<img th:src="@{/images/demospring.png}"/>
<form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">

<label for="username">Имя пользователя: </label>
<input type="text" name="username" id="username"/><br/>
<label for="password">Пароль:</label>
<input type="password" name="password"/><br/>
<label for="confirm">Повторите пароль: </label>
<input type="password" name="confirm"/><br/>
<label for="fullname">Полное имя: </label>
<input type="text" name="fullname"/><br/>
<label for="street">Улица: </label>
<input type="text" name="street"/><br/>
<label for="city">Город: </label>
<input type="text" name="city"/><br/>
<label for="state">Область: </label>
<input type="text" name="state"/><br/>
<label for="zip">Почтовый индекс: </label>
<input type="text" name="zip"/><br/>
<label for="phone">Телефон: </label>
<input type="text" name="phone"/><br/>
<input type="submit" value="Регистрация"/>
</form>
</body>
</html>
